*{
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: Monaco, monospace;
    color: #333;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    box-shadow: 0 11px 21px 0 rgba(18,30,255,.09);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    margin-bottom: 30px;
}

.header__title {
    flex: 0.25;
}
.header__tabs {
    display: flex;
    justify-content: space-around;
    flex: 0.5;
}
.header__tabs > li {
    list-style-type: none;
}

.type {
    font-size: 40px;
}

.content {
    padding: 30px;
}

.section__introduction {
    min-height: 100vh;
    background-color: #1c1c1b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c3c2;
    padding-top: 20px;
}

.introduction__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction__info > img {
    width: 300px;
    object-fit: contain;
    border-radius: 50%;
}

.introduction__info > h1 {
    font-size: 60px;
}

.introduction__info > h3 {
    font-size: 30px;
}

.introduction__info > h5 {
    font-size: 20px;
    width: 75%;
    text-align: center;
}

.section__projects {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section__projects > h2 {
    font-size: 50px;
    justify-content: center;
    padding: 40px 0;
}

.section__about__me {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #c4c3c2;
}

.projects {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
    padding: 10px 20px;
    border: 1px solid lightgray;
    background-color: #c4c3c2;
    transition: transform 0.3s;
}

.project__card > img {
    width: 300px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 30px;    
}

.project__card:hover {
    transform: translateY(-1.5rem) scale(1.03);
    cursor: pointer;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    overflow: auto; /* Enable scroll if needed */
    box-shadow: 0 11px 21px 3px rgba(18,30,255,.09);

    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    
  }

.modal__topbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid lightgray;

}

  .modal-content > .content {
      display: flex;
      align-items: center;
  }

.modal-content > .content > img {
    width: 45%;
    object-fit: contain;
    margin-right: 40px;
}

.content__buttons {
    display: flex;
    justify-content: center;
}

.content__buttons > a {
    margin-right: 10px;
}

.star__light::after {
    color: white;
    border-top: white;
}

.section__achievements {
    min-height: 100vh;
    background-color: hsl(210, 100%, 50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__achievements > * {
    margin: 20px 0;
}

.section__about__me {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact_page{
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_page #container{
    width: 65vw;
    border-radius: 2%;
    background-color: #f2f2f2;
    padding: 20px;
}

#contact_page #container input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
#contact_page #container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#contact_page #container input[type=submit]:hover {
    background-color: #45a049;
}

#contact_page #social_media_icons .fa {
    padding: 10px;
    font-size: 20px;
    margin: 5px 5px;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    text-decoration: none;
}
  
#contact_page #social_media_icons .fa:hover {
    opacity: 0.7;
}

#contact_page #social_media_icons .fa-facebook {
    background: #3B5998;
    color: white;
}

#contact_page #social_media_icons .fa-linkedin {
    background: #007bb5;
    color: white;
}

#contact_page #social_media_icons .fa-instagram {
    background: #125688;
    color: white;
}

#contact_page #social_media_icons .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}